<section id="profile">

    <div>
        <img src="/assets/images/avatar.jpg" alt="avatar"/>
        <span id="userName">Juana Pérez</span> 
    </div>

    <div>
        <span>15</span>
        <span>publicaciones</span>
    </div>

    <div>
        <span>100</span>
        <span>Seguidores</span>
    </div>

    <div>
        <span>50</span>
        <span>Solicitudes</span>
    </div>

</section>

<section id="gallery">
    
    <li><img  src="/assets/images/gallery2.jpg"/></li>
    <li><img  src="/assets/images/gallery3.jpg"/></li>
    <li><img  src="/assets/images/gallery4.jpg"/></li>
    <li><img  src="/assets/images/gallery5.jpg"/></li>
    <li><img  src="/assets/images/gallery6.jpg"/></li>
    <li><img  src="/assets/images/gallery7.jpg"/></li>
    <li><img  src="/assets/images/gallery8.jpg"/></li>
    <li><img  src="/assets/images/gallery9.jpeg"/></li>
    <li><img  src="/assets/images/gallery10.jpg"/></li>
    <li><img  src="/assets/images/gallery3.jpg"/></li>
    
</section>
