<section id="profile">

    <div>
        <img src="/assets/images/avatar.jpg" alt="avatar"/>
        <span id="userName">{{currentUser.email}}</span> 
    </div>

    <div>
        <span>{{galleryItems().length}}</span>
        <span>publicaciones</span>
    </div>

    <div>
        <span>{{followers}}</span>
        <span>Seguidores</span>
    </div>

    <div>
        <span>{{requests}}</span>
        <span>Solicitudes</span>
    </div>

</section>

<section id="gallery">

    <div class="gallery-item" *ngFor="let item of galleryItems()">
    <!-- En cada iteración cambia la ruta y va a la siguiente imagen -->

        <img [src]="item.url"/>

        <div class="comments">
            <input type="text" (change)="onAddComment($event, item.id)" />
            <a (click)="onViewComments(item.comments)"><i class="fas fa-comments"></i></a>
            <a (click)="onDelete(item.id)"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    
</section>
